<a href="https://colab.research.google.com/github/myoztiryaki/colab_works/blob/main/Guided_project_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Chapter 3: Data cleaning exercise

### Sales department performance analysis

The HR department wants to analyze the performance of the employees in the sales department.

### Data Reading
Rachel wrote a text file employee_revenue.txt including all necessary information, but she needs help to extract the necessary information.

Start by uploading the employee_revenue file to the working directory.

üìå Use the .read() method to open the text file in read mode and assign it to the variable "data".

In [ ]:
#Open the file in read mode
file = open("/content/employee_revenue.txt", "r")
data = file.read()

In [ ]:
#Print the data
print(data)

  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.
omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.
   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.
Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.
     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.
Bora called 100 people generated 770 dollars last month, his average deal size was 25$.
Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE.
Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size.
 bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.
Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$.
  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.

### Data Cleaning

You can see that the data needs to be cleaned and information has to be extracted from these lines. 

To be able to clean the data, you need to separate the text into lines.

üìå Use the .splitlines() method.

In [ ]:
#Seperate the data into lines
lines = data.splitlines()
print(lines)

['  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.  ', 'omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.', '   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.     ', 'Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.  ', '     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.', 'Bora called 100 people generated 770 dollars last month, his average deal size was 25$.  ', 'Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE. ', 'Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size. ', ' bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.', 'Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$. ', '  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.']

### Clean the data line by line

Start to clean the data for the first line.

üìå Use the .strip() method to remove the whitespaces from the edges of the string.

In [ ]:
#Take the first line
string = lines[0]
print(string)

  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.

In [ ]:
#Remove the whitespaces from the edges
string = string.strip(" ")
print(string)

Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.

Next, you need to fix the capitalization issues.

üìå Use the .lower() method to convert the text to lowercase.

üìå Then use the .capitalize() method to capitalize the first letter.

In [ ]:
#Convert the string to lowercase
string = string.lower()
string

'ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.'

In [ ]:
#Capitalize the first character
string = string.capitalize()
string

'Ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.'

### Information Extraction

To extract the information, you need to split the sentence into words. 

üìå Use the .split() method.

In [ ]:
#Split the sentece into words
split_string = string.split(" ")
split_string

['Ben',
 'made',
 '300',
 'calls',
 'and',
 'generated',
 '2400',
 'dollars',
 'last',
 'month',
 'with',
 'an',
 '8$',
 'average',
 'deal',
 'size.']

You might noticed that the first element in the list is the name and the third element is the number of calls.

üìå Use the indeces to extract the name and number of calls.

In [ ]:
#Use the index 0 to access the name element
name = split_string[0]
name

'Ben'

In [ ]:
#Use the index 2 to access the number of calls element
call_number = split_string[2]
call_number

'300'

So far so good!

But as you can see the sentence order is not the same after the 7th element.

To extract the average deal size you need to come up with a different approach. You can use the "$" sign to find the corresponding element.

üìå Loop over the list to find the element that includes the "$" sign.

üìå Then, use the .split() method to divide the string into the number and the $ sign.

In [ ]:
#Find the element with the "$" sign
for i in split_string:
  #Divide the number from it
  if "$" in i:
    average_deal_size = i.split("$")[0]

#Print the average deal size
average_deal_size

'8'

Similarly, we can use the string "dollars" to extract the revenue, which is the element right before "dollars".

üìå Use the .index() method to identify the index for the "dollars" element.

üìå Then, use this index to specify and extract the revenue.

In [ ]:
#Find the index of element "dollars"
dollars_index = split_string.index("dollars")
dollars_index

7

In [ ]:
#Subtract one from the index to identify the index of the revenue element
revenue_index = dollars_index - 1
revenue_index

6

In [ ]:
#Extract the revenue
revenue = split_string[revenue_index]
revenue

'2400'

Great! You extracted all necessary information.

üìå Print the information and check the types of the data.

In [ ]:
#Print out the extracted information
print("Name:", name)
print("Number of calls:", call_number)
print("Average deal size:", average_deal_size)
print("Revenue", revenue)

Name: Ben
Number of calls: 300
Average deal size: 8
Revenue 2400

In [ ]:
#Check the types
print("Name type:", type(name))
print("Number of calls type:", type(call_number))
print("Average deal size type:", type(average_deal_size))
print("Revenue type", type(revenue))

Name type: <class 'str'>
Number of calls type: <class 'str'>
Average deal size type: <class 'str'>
Revenue type <class 'str'>

As you can see, we have the type string for all the data, but the average deal size, number of calls, and the revenue need to be integers. 

üìå Convert the data using the int() function and check again.

In [ ]:
#Convert the datatypes of average deal size, number of calls, and revenue
average_deal_size = int(average_deal_size)
call_number = int(call_number)
revenue = int(revenue)

In [ ]:
#Print out the information again
print("Name type:", type(name))
print("Number of calls type:", type(call_number))
print("Average deal size type:", type(average_deal_size))
print("Revenue type", type(revenue))

Name type: <class 'str'>
Number of calls type: <class 'int'>
Average deal size type: <class 'int'>
Revenue type <class 'int'>

Now, you need to apply all the methods and functions to the list that contains the different strings of all employees.

üìå Create an empty lists for storing names, number of calls, average deal sizes, and revenues.

üìå Use a for loop to iterate through the list with the whole data.

üìå Print out the necessary information.

In [ ]:
#Create empty lists for the names, number of calls, average deal sizes, revenues
names = []
call_numbers = []
average_deal_sizes = []
revenues = []

In [ ]:
#Loop over the whole data
for employee in lines:
    #Clean the string
    employee = employee.strip(" ")
    employee = employee.lower()
    employee = employee.capitalize()   

    #Split the clean string
    split_employee = employee.split(" ")
    
    #Extract the name
    name = split_employee[0]
    call_number = split_employee[2]

    #Extract the average deal size
    for i in split_employee:
      if "$" in i:
        average_deal_size = i.split("$")[0]

    #Extract the revenue
    dollars_index = split_employee.index("dollars")
    revenue_index = dollars_index - 1 
    revenue = split_employee[revenue_index]

    #Convert to the correct data types
    average_deal_size = int(average_deal_size)
    call_number = int(call_number)
    revenue = int(revenue)

    #Append the information to the lists
    names.append(name)
    call_numbers.append(call_number)
    average_deal_sizes.append(average_deal_size)
    revenues.append(revenue)

#Print out the information
print("Names:", names)
print("Number of calls:", call_numbers)
print("Avarage deal sizes:", average_deal_sizes)
print("Revenues:", revenues)

Names: ['Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor,', 'Jude']
Number of calls: [300, 10, 500, 70, 100, 100, 600, 800, 200, 450, 80]
Avarage deal sizes: [8, 6, 24, 32, 5, 25, 25, 40, 15, 10, 12]
Revenues: [2400, 60, 12000, 2275, 500, 770, 4000, 6000, 800, 1200, 500]

Finally, you can make the process even easier and reusable by defining functions.

üìå Define the function "clean_extract".

üìå Use the retured values by assigning them to variables.

In [ ]:
#Create empty lists again
names = []
call_numbers = []
average_deal_sizes = []
revenues = []

In [ ]:
from os.path import split
#Define a function to clean and extract the data
def clean_extract(lines):
  for employee in lines:
    employee = employee.strip(" ")
    employee = employee.lower()
    employee = employee.capitalize()

    split_employee = employee.split(" ")

    name = split_employee[0]
    call_number = split_employee[2]

    for i in split_employee:
      if "$" in i:
        average_deal_size = i
        average_deal_size = average_deal_size.split("$") [0]

    dollars_index = split_employee.index("dollars")
    revenue_index = dollars_index - 1
    revenue = split_employee[revenue_index]

    average_deal_size = int(average_deal_size)
    call_number = int(call_number)
    revenue = int(revenue)

    names.append(name)
    call_numbers.append(call_number)
    average_deal_sizes.append(average_deal_size)
    revenues.append(revenue)

  return names, call_numbers, average_deal_sizes , revenues

In [ ]:
#Assign returned values to variables
names, call_numbers, average_deal_sizes, revenues = clean_extract(lines)

In [ ]:
#Print out the information
print("Names:", names)
print("Number of calls:", call_numbers)
print("Avarage deal sizes:", average_deal_sizes)
print("Revenues:", revenues)

Names: ['Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor,', 'Jude']
Number of calls: [300, 10, 500, 70, 100, 100, 600, 800, 200, 450, 80]
Avarage deal sizes: [8, 6, 24, 32, 5, 25, 25, 40, 15, 10, 12]
Revenues: [2400, 60, 12000, 2275, 500, 770, 4000, 6000, 800, 1200, 500]

### Performance Analysis Report

Now that you cleaned the string and extracted all the information using the function, you can create performance analysis report for the last month.

üìå Assign IDs to each employee.

üìå Create dictionaries.

üìå Sort the dictionaries.

First, check how many employees there are and assign the IDs.

üìå Use the len() and range() function.

In [ ]:
#Check the number of employees
print(len(names))

11

In [ ]:
#Generate IDs
IDs = list(range(0,11))
print(IDs)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Check the number of IDs
len(IDs)

11

With the IDs ready, you need to assign the IDs to the employees.

üìå Use the zip() function to pair the employee with the ID.

üìå Convert the zip object into a dictionary.

In [ ]:
#Pair the names with the IDs in a dictionary
dictionary1 = dict(zip(IDs,names))
dictionary1

{0: 'Ben',
 1: 'Omer',
 2: 'Karen',
 3: 'Celine',
 4: 'Sue',
 5: 'Bora',
 6: 'Rose',
 7: 'Ellen',
 8: 'Bob',
 9: 'Taylor,',
 10: 'Jude'}

Similarly, create a dictionary for the  employees and their revenues.

In [ ]:
#Pair the names with the revenues
dictionary2 = dict(zip(revenues, names))
dictionary2

{2400: 'Ben',
 60: 'Omer',
 12000: 'Karen',
 2275: 'Celine',
 500: 'Jude',
 770: 'Bora',
 4000: 'Rose',
 6000: 'Ellen',
 800: 'Bob',
 1200: 'Taylor,'}

Finally, you need to find the employees with the best and lowest performance.

üìå Sort the dictionary using the sorted() function in ascending and descending order.

In [ ]:
#Find the lowest performing employees (ascending order)
sorted_dictionary = sorted(dictionary2)[0:3]

for i in sorted_dictionary:
  print(dictionary2[i])

Omer
Jude
Bora

In [ ]:
#Find the best performing employees (descending order)
sorted_dictionary = sorted(dictionary2, reverse = True)[0:3]

for i in sorted_dictionary:
  print(dictionary2[i])

Karen
Ellen
Rose

Question 
1- In our guided project, what happens if we add an additional empty line in our text file ‚Äúemployee_revenue.txt‚Äù and then use the splitlines() function on it?
We get each line as an element in a list with the empty line shown as only quotation marks (‚Äú‚Äù)

In [ ]:
#6

Line = "celine with 70 calls, made 2275 dollars and 32$ average deal size in the previous month."
words = Line.split(' ')
print(words[4])

made

In [ ]:
#7

print("abcdefcdghcd".split("c"))

['ab', 'def', 'dgh', 'd']

In [ ]:
list1 = ["Ben", "Omer", "Karen"]
list2 = [300, 10, 500, 950, 253]

dictionary4 = dict(zip(list1, list2))

print(dictionary4)

{'Ben': 300, 'Omer': 10, 'Karen': 500}